.env
mosquitto/data/
mosquitto/log/
zigbee2mqtt/data/database.db
zigbee2mqtt/data/coordinator_backup.json
zigbee2mqtt/data/state.json
zigbee2mqtt/data/log/
zigbee2mqtt/data/configuration_backup_*.yaml
zigbee2mqtt/data/migration-*-to-*.log
bridge/node_modules/
